<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="all">
    <link rel="stylesheet" href='./css/3th-auth.css'>
    <link rel="stylesheet" href='./css/free-flex.css'>
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
    <title> Vue demo 1（基础一） </title>
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
  </head>
  <body>
    <div id="app1" v-cloak>
        <!-- 顶部小贴士 -->
        <div class="top-tips"> {{ tipsMsg }} </div>
        <!-- 表单输入框 -->
        <div class="input-wrapper">
            <div class="flex wrapper-item">
                <label class="flex2 item-name" for="account">帐号/手机号</label>
                <div class="flex4 item-input">
                    <input id="account" type="tel" maxlength="11" placeholder="帐号/手机号" v-model="account" autofocus>
                </div>
            </div>
            <div class="flex wrapper-item">
                <label class="flex2 item-name" for="password">密码</label>
                <div class="flex4 item-input">
                    <input id="password" type="password" placeholder="输入授权密码" v-model="password">
                </div>
            </div>
        </div>
        <!-- 协议 -->
        <div class="flex vertical-center license">

            <div class="checked"></div>
            <div class="text">我已阅读并同意</div>
            <div><a href="javascript:void(0);">《授权协议》</a></div>
        </div>
        <!-- 底部按钮 -->
        <div class="bottom-button">
            <button id="app1-next-btn" type="button" class="next-button" :class="{ active : ( account && password ) }"
                    @click="nextButtonClick" :disabled="!( account && password )"> 开始授权 </button>
        </div>

    </div>

    <script src="./js/vue.js"></script>
  	<script type="text/javascript" >

        var app1 = new Vue({
            el: '#app1',
            data: {
                modalShow : false,
                tipsMsg : '我们不会保存您的帐号密码，仅采集与您信用相关的信息。您的信息受严密保护，不对外公开',
                account : '',
                password : ''
            },
            methods: {
                nextButtonClick : function () {
                    alert( "account : " + this.account + "\npassword : " + this.password )
                }
            }
        });

	</script>


  </body>
</html>